/* About institute */

.about__inner {
  margin-bottom: 150px;
}

.about__top__content {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}

.about__text {
  width: 700px;
  margin-bottom: 60px;
}

.about__more {
  display: flex;
}

.about__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: 80px;
}

.about__button {
  display: flex;
  width: 178px;
  height: 50px;
  border: 1px solid #fcba28;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #fcba28;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.about__button:hover {
  color: #0f0d0e;
  background-color: #fcba28;
}

.about__end__pictures {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about__end__picture {
  border-radius: 10px;
  box-shadow: 5px 5px #fcba28;
}

.about__end__picture img {
  border-radius: 10px;
}

.about__picture {
  display: inline-block;
  border-radius: 50%;
  height: 350px;

  box-shadow: 5px 5px #fcba28;
}

.about__picture img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

/* People FTI */

.people__fti__inner {
  margin-bottom: 150px;
}

.people__fti__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.people__fti__photo {
  width: 350px;
  text-align: center;
}

.people__fti__photo img {
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px #fcba28;
  width: 350px;
}

.people__fti__photo h3 {
  margin-bottom: 20px;
}

/* Departments */

.departments__inner {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #231f20;
  border-radius: 20px;
  margin-bottom: 150px;
  position: relative;
}

.departments__inner .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.departments__header {
  margin-bottom: 50px;
}

.cards__swiper {
  overflow: hidden;
  position: relative;
}

.department__cards {
  display: flex;
  width: 4000px;
  gap: 60px;
  margin-left: 15px;
  color: #0f0d0e;
  transition: all 0.2s ease-in-out;
  touch-action: auto;
}

.department__card {
  width: 340px;
  background-color: #f9f4da;
  border-radius: 10px;
}

.department__title {
  border-bottom: 2px solid #0f0d0e;
  padding: 15px;
  height: 58px;
  text-align: center;
}

.department__title__small {
  line-height: 58px;
}

.department__title__small__16 {
  font-size: 22px;
}

.department__description {
  font-size: 16px;
  padding: 15px;
  height: 300px;
}

.department__footer {
  background-color: #fcba28;
  padding: 15px 15px 15px 50px;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  position: relative;
}

.department__head {
  margin-bottom: 15px;
}

.department__head::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: url(./../img/icons/person.svg);
}

.department__year::before {
  content: '';
  position: absolute;
  top: 48px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: url(./../img/icons/calendar-date.svg);
}

.swiper__btns {
  display: flex;

  width: 370px;
  margin: 50px auto 0;
  justify-content: space-between;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.swiper__btn {
  fill: #f9f4da;
  transition: all 0.1s ease-in;
}

#btn__2 {
  cursor: pointer;
}

.swiper__btn:not(.no__color__btn):hover {
  fill: #fcba28;
}

.no__color__btn {
  fill: #494949;
}

/* Partners */

.partners__flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 150px;
  background-color: #f9f4da;
  border-radius: 20px;
}

.partner img {
  filter: saturate(0);
  transition: all 0.2s ease-in-out;
}

.partner:hover img {
  filter: saturate(1);
}