/* Footer */
.footer__inner {
  color: #0f0d0e;
  background-color: #fcba28;
}

.container__footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 15px;
  display: flex;
  justify-content: center;
  position: relative;
  background: url(./../img/photo/физтех\ линии\ полупрозрачный.png) no-repeat 50% 25%;
  background-size: 240px;
}

.footer__content {
  width: 310px;
  z-index: 5;
}

.footer__title,
.footer__adress {
  margin-bottom: 30px;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer__contacts a {
  color: #0f0d0e;
  text-decoration: none;
  position: relative;
}

.footer__contacts a:hover {
  text-decoration: underline;
}

.footer__mail {
  margin-left: 45px;
}

.footer__mail::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  top: -5px;
  left: -45px;
  background: url(./../img/icons/envelope.svg) no-repeat 50% 50%;
}

.footer__vk {
  margin-left: 60px;
}

.footer__vk::before {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  top: -10px;
  left: -45px;
  background: url(./../img/icons/email.svg) no-repeat 50% 50%;
}

.footer__btn {
  margin: 0 auto;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0f0d0e;
  transition: 0.2s all ease-in-out;
}

.footer__btn:active {
  color: #fcba28;
  background-color: #0f0d0e;
}

.container__footer a {
  color: #0f0d0e;
  text-decoration: none;
}

.footer__picture img {
  display: none;
  width: 245px;
}

/* btn to top */

.btn__to__top {
  position: fixed;
  background-color: #ffffff;
  border-radius: 50%;
  width: 70;
  height: 70px;
  bottom: 50px;
  right: 50px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
}

.btn__to__top img {
  pointer-events: none;
}

.btn__to__top:hover {
  background-color: #969696;
}

.btn__to__top__hidden {
  transform: translateY(150px);
}

@media (max-width: 1024px) {
  .btn__to__top {
    display: none;
  }

  .footer__contacts {
    justify-content: space-between;
  }

  .footer__mail {
    margin-left: 30px;
  }

  .footer__mail::before {
    height: 20px;
    width: 20px;
    top: -2px;
    left: -30px;

    background-size: 20px;
  }

  .footer__vk {
    margin-left: 60px;
  }

  .footer__vk::before {
    height: 30px;
    width: 30px;
    top: -7px;
    left: -35px;
    background-size: 30px;
  }
}

@media (min-width: 768px) {
  .container__footer {
    background: none;
  }

  .footer__content {
    width: 435px;
  }

  .footer__contacts {
    justify-content: flex-start;
  }

  .footer__btn {
    margin: 0;
  }

  .footer__picture img {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .container__footer {
    width: 970px;
  }
  .footer__content {
    width: 100%;
  }

  .footer__btn:hover {
    color: #fcba28;
    background-color: #0f0d0e;
  }
}

@media (min-width: 1200px) {
  .container__footer {
    width: 1170px;
  }
}
