@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  
  background-color: #0f0d0e;
}

html::-webkit-scrollbar-thumb {
  background-color: #fcba28;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #f9f4da;
  background-color: #0f0d0e;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h2 {
  margin: 0;
  font-size: 48px;
  margin-bottom: 80px;
}

h3 {
  margin: 0;
  font-size: 28px;
}

h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.page_wrap {
  padding-top: 100px;
  margin-bottom: 50px;
  background: url(./../img/icons/FTI_TEXT.svg) no-repeat 100% 7%;
  background-size: 100px;
}

@media (max-width: 1023px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
}

.container_header {
  display: none;
}

.logo_mobile {
  position: absolute;
  top: 15px;
  left: 15px;
}

.logo_mobile img {
  width: 50px;
  height: 50px;
}

.toggle_sidebar {
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 25px;
}

.menu_icon_wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu_icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #f9f4da;
}

.menu_icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;

  height: 5px;
  background-color: #f9f4da;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu_icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #f9f4da;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu_icon.menu_icon_active {
  background-color: transparent;
}

.menu_icon.menu_icon_active::before {
  transform: rotate(45deg);
  background-color: #0f0d0e;
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu_icon.menu_icon_active::after {
  transform: rotate(-45deg);
  background-color: #0f0d0e;
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.sidebar_mobile {
  display: none;
  position: absolute;
  width: calc(100% - 30px);
  margin: 15px;
  background-color: #f9f4da;
  color: #0f0d0e;
  font-weight: 500;
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 5;
}

.sidebar_mobile_active {
  display: flex;
  justify-content: center;
}

.menu_header_menu {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu_item {
  list-style: none;
  align-self: center;
}

.menu_item a {
  display: block;
  text-decoration: none;
  color: #0f0d0e;
  padding: 6px 0;
  position: relative;
}

.nav_button:after {
  content: '';
  height: 1px;
  width: 0;
  background-color: #fcba28;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.selected_nav:after {
  width: 100%;
}

@media (min-width: 768px) {
  .page_wrap {
    background-size: 200px;
    background: url(./../img/icons/FTI_TEXT.svg) no-repeat 100% 25%;
  }
}

@media (min-width: 1024px) {
  .page_wrap {
    margin-bottom: 100px;
    background-size: 350px;
    background: url(./../img/icons/FTI_TEXT.svg) no-repeat 100% 0%;
  }

  .logo_mobile,
  .toggle_sidebar {
    display: none;
  }

  .container_header {
    display: flex;
    width: 970px;
    justify-content: space-between;
  }

  .sidebar {
    display: flex;
    align-self: center;
    font-weight: 500;
  }

  .menu_header_menu {
    flex-direction: row;
  }

  .menu_item a {
    display: block;
    text-decoration: none;
    color: #f9f4da;
    padding: 6px 0;
    position: relative;
  }

  .nav_button:hover:after {
    width: 100%;
  }

  .container_header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 15px 0px 15px;
  }

  /* Header */

  .header_inner {
    display: flex;
    justify-content: space-between;
  }

  .header_logo {
    width: 80px;
    height: 80px;
  }

  .header_logo a {
    display: inline-block;
    text-decoration: none;
    height: 80px;
  }

  .header_logo a img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .page_wrap {
    background-size: 350px;
  }

  .container_header {
    width: 100%;
  }
}
